.target-mod-table {
    width: 7cm;
    font-size: 12pt;
    border: 1px solid rgb(85, 83, 83);
    margin-left: .5cm;
    margin-top: .3cm;
}

.target-mod-heading {
    color: white;
    background-color: black;
    font-weight: bold;
}

.target-mod-row {
    display: flex;
    justify-content: space-between;
    padding: 0 .1cm;
}

.target-mod-values {
    display: flex;
    justify-content: space-between;
}

.target-mod-values > div {
    width: 1.1cm;
    text-align: right;
}

.target-mod-row.sub-heading {
   font-size: 10pt;
   text-align: right;
}