.tabCardContainer {
    position: absolute;
    top: calc(50% - 11.8rem);
    left: calc(50%);
    z-index:-1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .modalCard {
    padding: 0 1.5rem;
    height: 20rem;
    width: 60rem;
    position: relative;
    top: calc(50% - 12rem);
    left: calc(50% - 30rem);
    overflow: auto;
    z-index: 10;
} */

.tab,
.tabCard {
    background-color: whitesmoke;
    /* background-color: rgb(243, 243, 243); */
    /* background-color: cornflowerblue; */
}

.tab {
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: fit-content;
    padding: 0 10px;
}

.tabCard {
    border-radius: 0 3px 0 0;
    position: absolute;
    top: 1.9rem;
    left: 0;
    width: 20rem;
    padding: 1.5rem 1rem 1rem;
}