.customEquipmentModalContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}

.customEquipmentListCard  {
    margin-top: 2rem;
    height: 16.5rem;
    width: 30rem;
    position: relative;
    top: calc(50% - 20rem);
    left: calc(50% - 15rem);
    overflow: auto;
    font-size: smaller;
}

.customEquipmentListHeader {
    background: rgb(85, 83, 83);
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.customContainer {
    padding-top: 1rem;
    text-align: center
}

.subContainer {
    padding-bottom: 1rem;
}
