.buttons > button:first-of-type {
  margin-right: 1rem;
}

.buttons > button {
  width: 5.5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.125rem;
  font-weight: 500;
}

.buttons > button:hover {
  border: 1.5px solid whitesmoke;
}

.buttons > button:active {
  border: 1px solid whitesmoke;
  opacity: 0.75;
}

@media screen and (max-width: 800px) {
  .buttons {
    margin-right: 30px;
  }

  .buttons > button {
    width: 0;
  }

  .buttons:hover,
  .buttons > button:hover {
    border: none;
    opacity: 1;
  }

  .burger {
    width: 5rem;
  }

  .burger::before {
    font-family: FontAwesome;
    content: "\f0c9";
    color: whitesmoke;
  }
}
