.createCharContainer {
    display: flex;
    flex-direction: row;
}

.createCharContainer > div {
    display: flex;
    flex-direction: column;
}

.attributeContainer {
    text-align: center;
}

.combatDataContainer {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 2rem;
    padding: 1rem;
    width: 80%;
}

.arrowBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.3em;
}

#removeEquip,
#removeGun {
    margin: .3rem;
}
