.createCharContainer {
    display: flex;
    flex-direction: row;
}

.dataCardContainer {
    display: flex;
    flex-direction: column;
}

.attributeContainer {
    font-family: sans-serif;
    text-align: center;
    color: rgb(85, 83, 83);
    border-collapse: collapse;
}

.combatDataContainer {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 2rem;
    padding: 1rem;
    width: 80%;
}

.equipmentSelect {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 1rem;
    font-family: sans-serif;
    height: 28.5rem;
    overflow: auto;
}

.equipmentSelect:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.equipmentHeader {
    background: rgb(85, 83, 83);
    color: whitesmoke;
}

.equipmentTable {
    border-collapse: collapse;
}

.addedEqipRow {
    font-size: medium;
}

.arrowBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.3em;
}

#removeEquip,
#removeGun {
    margin: .3rem;
}
