.odds-look-up-table {
  font-size: 12pt;
  border: 1px solid black;
  width: 3cm;
  height: fit-content;
}

.odds-look-up-header,
.odds-look-up-row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.odds-look-up-header > div,
.odds-look-up-row > div {
  width: 0.9cm;
  margin: 0 0.1cm;
}

.odds-look-up-header {
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 0.05cm 0;
}
