.print-icon-container {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.print-button {
    border-radius: 2px;
    background-color: inherit;
    fill: whitesmoke;
    border: none;
}

.print-button:hover {
    background-color: #48531ffb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
   fill: white;
}

