.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper > span {
    display: inline-block;
}

.scopeDetails {
    width: 49%;
    font-size: 1rem;
} 

.scopeDetails > span {
   display: block;
   font-size: 0.8rem;
} 

.scopeButtons {
    width: 49%;
}

.scopeButtons > button {
    width: 100%;
}

.opticModal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 5;
    box-shadow: 0 0 5px 1px var(--usaf-light-grey);
}

.opticModal > div:first-of-type {
    font-weight: bold;
    margin: 6px auto 4px;
    text-align: center;
}

.opticModal > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opticModal > div:last-of-type > button {
    margin-bottom: 2px;
}

.opticButton {
    width: 200px;
    border: 1px solid var(--golden-olive);
    background-color: whitesmoke;
    border-radius: 3px;
}

.opticButton:hover {
    background-color: white;
}

.opticButton:active {
    background-color: white;
    border: 1px solid var(--fluorescent-green);
    box-shadow: 0 0 1px 1px var(--usaf-light-grey);
}
