.knockout-table-a4-wrapper {
    width: 3cm;
    font-size: 12pt;
    margin-top: .5cm;
}

.kv-table {
    border: 1px solid rgb(85, 83, 83);
}

.kv-table-heading {
    font-weight: bold;
    color: white;
    background-color: black;
}

.kv-table-row {
    display: flex;
    justify-content: space-evenly;
}

.kv-table-row > div {
    width: 40%;
}
