.HandToHandTableContainerA4 {
    font-size: 12pt;
    width: 13.45cm;
    margin-top: .5cm;
}

.HandToHandTableContainerA4 td {
    font-size: 10pt;

}

.HandToHandTable {
    width: 100%;
    border: 1px solid rgb(85, 83, 83);
    border-collapse: collapse;
}

.HandToHandTableHead th {
    border-bottom: 1px solid rgb(85, 83, 83);
}

.HandToHandTable .speed,
.HandToHandTable .class,
.HandToHandTable .level,
.HandToHandTable .parry,
.HandToHandTable .set,
.HandToHandTable .strike,
.HandToHandTable .rec,
.HandToHandTable .cut,
.HandToHandTable .stab,
.HandToHandTable .rng {
    text-align: center;
}