.table {
    width: 100%;
    border: 1px solid rgb(85, 83, 83);
    border-collapse: collapse; 
}


.head > tr > th {
    border-bottom: 1px solid rgb(85, 83, 83); 
}

.head > tr > th:first-of-type {
    text-align: left;
}

.head > tr > th:nth-of-type(n + 2) {
    border-left: 1px solid rgb(85, 83, 83);
}

.body > tr > td:nth-of-type(n + 2) {
  text-align: center;
  border-left: 1px solid rgb(85, 83, 83);
}
