.grenade-list-a4-wrapper {
    font-size: 12pt;
    border: 1px solid rgb(85, 83, 83);
    width: 3.3cm;
    margin-top: -1cm;
}

.grenade-list-heading {
 text-align: left;
 padding-left: .1cm;
 padding-bottom: .01cm;
 color: white;
 background-color: black;
 font-weight: bold;
}

.grenade-list {
    display: flex;
    justify-content: space-between;
}

.grenade-list-a4-wrapper .grenade-list > div {
    padding: 0 .1cm;
}