.wrapper {
  border: 1px solid black;
}

.wrapper > div:nth-of-type(1) {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 3px;
}

.wrapper > div:nth-of-type(n + 2) > span:nth-of-type(1) {
  margin-left: 3px;
}

.wrapper > div:nth-of-type(n + 2) > span:nth-of-type(2) {
  float: right;
  margin-right: 3px;
}
