.modifyWeightForm > div:first-of-type,
.customMagazineForm > div:first-of-type {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.modificationFormTextInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.modificationFormTextInput > input {
    width: 40%;
}

.modificationFormWarning {
    margin-top: 1rem;
    color: red;
    font-weight: bold;
}
