.modal {
  z-index: 105  !important;
}

.card {
  position: fixed;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 36rem;
  padding: 0.5rem 2rem 2rem;
  z-index: 106;
  background-color: whitesmoke;
  border-radius: 3px;
}

.header {
  margin-bottom: 0.5rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
}

.header > span {
  margin: 0 1rem 0 0.5rem;
  font-weight: 600;
}

.selected {
  font-weight: 600;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  float: right;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tagContainer > button {
  width: 33.33%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .card {
    top: 30px;
    width: calc(100% - 120px);
    padding: 15px 30px;
  } 

  .tagContainer > button {
    width: calc(33.33% - 4px);
    margin-bottom: 5px;
    padding: 5px;
  }

  .tagContainer > button:nth-last-of-type(3n + 1) {
    margin: 0 6px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    top: 15px;
    width: calc(100% - 60px);
    padding: 15px;
  } 

  .tagContainer {
    justify-content: space-between;
    padding: 5px;
  }

  .tagContainer > button {
    width: calc(50% - 2px);
    margin-bottom: 5px;
  }

  .tagContainer > button:nth-last-of-type(3n + 1) {
    margin: 0 0 5px 0;
  }
}


