.button {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: rgb(85, 83, 83);
    background: whitesmoke;
    border: solid 1px #aeb885;
    border-radius: 4px;
}

.button:hover{
    border: solid 1.5px #d7ec80;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.select {
    background: grey;
    border: solid 1px red;
    font-size: small;
}