.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper > button {
  background-color: var(--usaf-light-grey);
  box-shadow: 0 0 1px 1px var(--london-grey);
  border: none;
  font-size: 1rem;
  padding: 5px 0;
  margin-top: 5px;
  color: var(--panzer-grey);
  border-radius: 3px;
}

.wrapper > button:nth-of-type(1) {
  width: calc(50% - 2px);
}

.wrapper > button:nth-of-type(n + 2) {
  width: 3rem;
  width: calc(25% - 4px);
}

.wrapper > button > span {
  display: block;
}

.wrapper > button > span:nth-of-type(2) {
  font-size: 0.75rem;
}

.unavailable {
  opacity: 0.5;
}
