.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .buttons::-webkit-scrollbar {
    display: none;
  }
  
  .buttons > button {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px var(--london-grey);
    width: calc(25% - 4px);
    margin: 2px;
    height: 2.25rem;
    font-size: 1rem;
    color: var(--panzer-grey);
    background-color: var(--light-grey);
  }
  
  .selected {
    box-shadow: 0 0 1px 1px var(--golden-olive) !important;
    background-color: var(--ivory) !important;
  }
  
  @media screen and (max-width: 700px) {
    .buttons {
      max-height: calc(100vh - 4.75rem);
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .buttons::-webkit-scrollbar {
      display: none;
    }
  }