.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 50%;
  z-index: 100;
}

.card {
  z-index: 101;
  position: fixed;
  top: 4.25rem;
  bottom: 0.33rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.card > button {
  border: none;
  font-size: 1.5rem;
  background-color: var(--usaf-light-grey);
  box-shadow: 0px 0px 1.2px 1.2px var(--london-grey);
  width: calc(33.33% - 10px);
  height: 8.25%;
}

.card > button:nth-of-type(3n - 1) {
  margin-left: 5px;
  margin-right: 5px;
}
