.BodyArmourTable {
    font-size: 12pt;
    border: 1px solid rgb(85, 83, 83);
    border-collapse: collapse;
    margin-top: .5cm;
    width: 6cm;
}

.BodyArmourTable .name {
   text-align: left;
}

.BodyArmourTable th {
    border-bottom: 1px solid rgb(85, 83, 83);
    line-height: 1.4;
}

.BodyArmourTable tr {
    line-height: 1.37;
}

.BodyArmourTable .name {
    border-right: 1px solid rgb(85, 83, 83);
}
