.grenadeListCard {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
    top: calc(50% - 20rem);
    left: calc(50% - 26rem);
    overflow: auto;
    z-index: 2;
    width: 52ch;
    font-size: smaller;
}

.grenadeListCardHeading {
    display: flex;
}

.grenadeListCardHeading > button {
    font-size: small;
    /* padding: 0.2ex, 0.2ch; */
}

.grenadeListCardHeading > div {
    margin-bottom: 0.5rem;
    margin-left:  0.5rem;
}

.grenadeList {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    margin-bottom: 0.5rem;
}

.grenadeList > div {
    display: flex;
    width: 16ch;
    line-height: 100%;
}

.grenadeRow {
    margin-left: 3px;
    width: 14ch;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}

.grenadeRow:hover {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

