.grenadeListCard {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
    top: calc(50% - 20rem);
    left: calc(50% - 26rem);
    overflow: auto;
    z-index: 2;
    width: 52ch;
    font-size: smaller;
}

.grenadeListCardHeading {
    display: flex;
}

.grenadeListCardHeading > button {
    padding: 0;
    height: 20px;
    width: 20px;
    text-align: center;
}

.grenadeListCardHeading > span {
    margin-bottom: 0.5rem;
    margin-left:  0.5rem;
}

.grenadeList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.grenadeList > div {
    display: flex;
    line-height: 100%;
    flex-basis: 33%;
    flex-basis: calc((100% - 30px) / 3)
}

.grenadeList > div:nth-child(3n+2) {
    margin: 0 15px;
}

.grenadeList > div > div {
    margin-left: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}

