.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper > div {
    width: 49%;
}

.launcherModal > div:last-of-type > button,
.wrapper > div > button {
    width: 100%;
    border: 1px solid var(--golden-olive);
    background-color: whitesmoke;
    border-radius: 3px;
}

.launcherModal > div:last-of-type > button:hover,
.wrapper > div > button:hover {
    background-color: white;
}

.launcherModal > div:last-of-type > button:hover,
.wrapper > div > button:active {
    background-color: white;
    border: 1px solid var(--fluorescent-green);
    box-shadow: 0 0 1px 1px var(--usaf-light-grey);
}

.launcherModal > div:first-of-type {
    font-weight: bold;
    margin: 0 auto 4px;
    text-align: center;
}

.launcherModal > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.launcherModal > div:last-of-type > button {
    margin-bottom: 2px;
    width: 200px;
}