.gearModalContents {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

.gearModalContents > div {
    /* width: calc((100% - 30px) / 3); */ /*mptodo*/
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.gearModalContents > div:nth-of-type(3n+2) {
    margin: 0 15px;
}