/* .card {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 55rem;
  height: 20rem;
  padding: 0.5rem 2rem 1rem;
  z-index: 101;
} */

.wrapper {

}

.header {
  margin-bottom: 0.75rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  font-weight: 600;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  float: right;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.body {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.row > button:nth-of-type(2) {
  margin-left: 3px;
  width: 11rem;
}

.row > button:nth-of-type(2) > span:nth-of-type(1) {
  float: left;
}

.row > button:nth-of-type(2) > span:nth-of-type(2) {
  float: right;
}

@media screen and (max-width: 1024px) {
  .body {
    flex-direction: column;
    align-items: center;
  }

  .body > div:nth-of-type(1) {
    margin-bottom: 1rem;
    /* background-color: khaki; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .row {
    /* background-color: greenyellow; */
    /* margin-bottom: 6px; */
    /* width: calc(50% - 30px); */
    width: fit-content;
    margin: 0 4px 6px;
  }
}

@media screen and (max-width: 700px) {
  .row > button:nth-of-type(2) {
    width: 7rem;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row > button:nth-of-type(2) > span:nth-of-type(1){
    white-space: nowrap;
  }

  .body > div:nth-of-type(2) {
    width: calc(100vw - 30px);
    font-size: 0.6rem;
  }

  .body > div:nth-of-type(2) * tbody {
    font-size: 0.54rem;
  }

  .body > div:nth-of-type(2) * tbody > tr > td:nth-of-type(-n+2) > span {
    margin: 1px;
  }

  .body > div:nth-of-type(2) * tbody > tr > td:nth-of-type(n+3) {
    padding: 1px;
  }
}