.a4GameSheet {
  visibility: hidden;
}

@media print {
  .App {
    visibility: hidden;

  }

  .a4GameSheet {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
}
