.a4GameSheet {
  display: none;
}
@media print {
  .App-header,
  .App-body {
    display: none;
  }
  .a4GameSheet {
    display: block;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
}

.a4GameSheet {
  background-color: white;
  width: 29.7cm;
  height: 21cm;
}

.a4ContentContainer {
  padding: 0.7cm 1.5cm 0.5cm;
  display: flex;
}

.character-name {
  font-weight: bold;
  margin-top: -0.2cm;
  /* margin-bottom: -0.3cm; */
  margin-bottom: 0.1cm;
}

.firearm-name {
  font-weight: bold;
  margin: 0 0 0.1cm 0;
}

.firearm-notes-a4-wrapper {
  margin-top: 0.6cm;
}

.combatStatsInfo {
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(85, 83, 83);
  width: 8.3cm;
  padding: 0.1cm 0.2cm 0.3cm;
  height: 1.5cm;
}

.combatStatColA {
  width: 3.8cm;
}

.combatStatColB {
  width: 4.2cm;
}

.range-odds-flex-container {
  display: flex;
}

.range-odds-flex-container .range-look-up-table {
  margin-left: 0.5cm;
  margin-right: 0.1cm;
}

.alm-mods-col {
  display: flex;
  flex-direction: column;
}

.game-data-col-a {
  display: flex;
  flex-wrap: wrap;
  width: 13.6cm;
  align-content: flex-start;
}

.ActionTable-a4-container {
  margin-left: 0.2cm;
}
