.a4GameSheet {
    background-color: white;
    width: 29.7cm;
    height: 21cm;
    margin: 20px;
}

.a4ContentContainer {
    padding: 1.5cm;
}

.combatStatsInfo {
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(85, 83, 83);
    width: 8.3cm;
    padding: .1cm .2cm .3cm;
    height: 1.5cm;
}

.comabatStatColA {
    width: 3.5cm;
}

.comabatStatColB {
    width: 4.3cm;
}