.reaction-table-a4-wrapper {
    width: 4cm;
    font-size: 12pt;
    margin-top: .5cm;
}

.reaction-table {
    border: 1px solid rgb(85, 83, 83);
}

.reaction-table-heading {
    font-weight: bold;
    color: white;
    background-color: black;
}

.reaction-table-row {
    display: flex;
    justify-content: space-between;
}

.reaction-table-a4-wrapper .reaction-table-row {
   padding: 0 .1cm
}