.modifyWeaponPanel {
    margin-left: 3.5rem;
}

.selectPrimaryButton {
    border: none;
    background-color: whitesmoke;
}

.magazineTable > thead > tr > th:nth-of-type(1){
    padding-right:  3px;
}

.magazineTable > thead > tr > th:nth-of-type(n+2){
    text-align: center;
    padding: 0 3px;
}

.magazineTable > thead > tr > th:nth-of-type(n+4){
    font-size: smaller;
}

.magazineTable > tbody > tr > td:nth-of-type(n+2){
    text-align: center;
}

.index0 {
    display: none;
}

.buttonCircle {
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
}

.buttonCircle:active {
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
}

.checkbox {
    height: 1rem;
    width: 1rem;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    /* margin-top: 1.5rem; */
    /* transform: translateY(-0.75rem); */
    /* margin-right: .3rem; */
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
}

.primaryMagazine > td:nth-of-type(4):after {
    content: " \2714";
}

.primaryMagazine > td:nth-of-type(5):after {
    content: "\2718";
}

.removedMagazine > td:nth-of-type(-n+3){
    opacity: 0.4;
}

.removedMagazine > td:nth-of-type(4){
    opacity: 0;
    pointer-events: none;
}

.removedMagazine > td:nth-of-type(5) * .checkbox > .inner:after {
    content: " \2714";
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 3px;
    background: rgb(190,210,100);
    background: -moz-radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    background: radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bed264",endColorstr="#55673f",GradientType=1);
}