.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper > button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1.5px solid var(--usaf-light-grey);
    background-color: var(--usaf-light-grey);
    color: var(--panzer-grey);
    height: 2.5em;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 18ch;
}

.wrapper > button:hover {
    border: 1.5px solid var(--usaf-light-grey);
    background-color: var(--panzer-grey);
    color: var(--usaf-light-grey);
}
