.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper > h1 {
  color: #effdf0;
  text-shadow: 2px 5px #292b28;
  margin: 2rem 0;
}

.wrapper > a:first-of-type {
    margin-bottom: 0.5rem;
}