.modalButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  margin-bottom: 0.25rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.ammoTypes {
  margin: 1rem auto 0;
  width: calc(1.5rem * 3 + 3rem);
  box-shadow: inset 0px 0px 1.25px 1.25px #5d5d5d;
  height: 0.75rem;
  position: relative;
  border-radius: 0.75rem;
}

.ammoTypes > button {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  position: relative;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ammoTypes > .ammoName {
  position: absolute;
  font-size: 0.75rem;
  top: -0.85rem;
}

.ammoTypes > .ammoMarker {
  background-color: var(--german-yellow);
  border: 1px solid var(--london-grey);
  box-shadow: 0 0 1px 0 var(--panzer-grey);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
}

.ammoTypes > .selected {
  opacity: 1;
}

.ammoTypes > button:nth-of-type(2),
.ammoTypes > div:nth-of-type(4) {
  left: 50%;
  transform: translate(-50%, -50%);
}

.ammoTypes > div:nth-of-type(3) {
  left: 50%;
  transform: translateX(-50%);
}

.ammoTypes > button:last-of-type,
.ammoTypes > div:nth-last-of-type(1) {
  left: 100%;
  transform: translate(-100%, -50%);
}

.ammoTypes > div:nth-last-of-type(2) {
  left: 100%;
  transform: translateX(-100%);
}

.data {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.data > div {
  width: fit-content;
}

.data > div > span {
  display: block;
}

.modalButtonWrapper > button {
  background-color: var(--usaf-light-grey);
  box-shadow: 0 0 1px 1px var(--london-grey);
  border: none;
  width: calc(50% - 2px);
  font-size: 1rem;
  padding: 5px 0;
  margin-top: 5px;
  color: var(--panzer-grey);
  border-radius: 3px;
}

.modalButtonWrapper > button > span {
  display: block;
}

.modalButtonWrapper > button > span:nth-of-type(2) {
  font-size: 0.75rem;
}

.firing {
  text-align: center;
  margin-top: 10px;
  padding-top: 3px;
  border-top: 1px solid var(--usaf-light-grey);
}

.firing > .pewpew {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.firing > .pewpew > div:nth-of-type(2) {
  width: 10rem;
  width: calc(100% - 4rem);
}

.firing > .pewpew > div:nth-of-type(2) > button {
  background-color: var(--usaf-light-grey);
  box-shadow: 0 0 1px 1px var(--london-grey);
  border: none;
  font-size: 1rem;
  padding: 5px 0;
  margin-top: 5px;
  color: var(--panzer-grey);
  border-radius: 3px;
  height: 2.5rem;
  width: 100%;
}

.lowMag {
  font-weight: bold;
  color: darkorange;
}

.emptyMag {
  font-weight: bold;
  color: red;
}
