.menuBar {
  font-family: sans-serif;
  background-color: #49531f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 4rem;
  position: relative;
  color: whitesmoke;
}

.menuTitle {
  margin-left: 2rem;
  width: 4%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navCreateCharacterContainer {
  text-align: center;
  padding-top: 0.5rem;
}

.navEquipWeight {
  font-size: smaller;
}

.menuBar > .buttons {
  float: right;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.menuBar > .buttons > button:first-of-type {
  margin-right: 1rem;
}

.menuBar > .buttons > button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.125rem;
  font-weight: 500;
}

.menuBar > .buttons > button:hover {
  border: 1.5px solid whitesmoke;
}

.menuBar > .buttons > button:active {
  border: 1px solid whitesmoke;
  opacity: 0.75;
}
