select{
    background-color: whitesmoke;
    border: solid 1.5px #d7ec80;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    font-size: smaller;
}