.grenadeTable {
    border: 1px solid rgb(85, 83, 83);
    border-collapse: collapse;
    empty-cells: show;
}

.grenadeTableHeader {
    border: 1px solid rgb(85, 83, 83);
    border-collapse: collapse;
}

.grenadeTableHeader > tr > th {
    width: 4ch;
}

.grenadeTableBody > tr > td:nth-of-type(1),
.grenadeTableBody > tr > td:nth-of-type(3) {
    padding-left: 3px;
}

.grenadeTableBody > tr > td:nth-of-type(2) {
    border-right: 1px solid rgb(85, 83, 83);
    text-align: right;
    padding-right: 3px;
}

.grenadeTableBody > tr > td:nth-of-type(n+4) {
    text-align: center;
}

.williePeteBody > tr > td:nth-of-type(3) {
    width: 9ch;
}

.williePeteBody > tr > td:nth-last-of-type(n+3) {
    font-size: smaller;
}
