.card > h2 {
  margin: 0;
}

.card > h3 {
  margin: 5px 0 0;
}

.card > button {
  margin-top: 3px;
  background-color: whitesmoke;
  display: block;
  text-align: left;
  border: none;
  border-radius: 3px;
  width: 100%;
  min-height: 3rem;
  box-shadow: inset 0px 0px 1.5px 1.5px var(--usaf-light-grey);
}
