.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 50%;
  z-index: 100;
}

.card {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2rem 1rem;
  z-index: 101;
}

.header {
  margin-bottom: 0.75rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > button {
  background-color: var(--panzer-grey);
  border: none;
  color: whitesmoke;
  margin-left: 0.5rem;
}

.header > div > button:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.header > div > button:active {
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.table {
  border-collapse: "collapse";
  border: 1px solid rgb(85, 83, 83);
  font-size: medium;
  text-align: center;
}

.table th,
.table td {
  padding-right: 1rem;
}

.table th:first-child,
.table td:first-child {
  padding-left: 0.3rem;
}

.table > thead > tr > th:first-of-type,
.table > tbody > tr > td:first-of-type {
  text-align: left;
}

.table > thead > tr > th:last-of-type,
.table > tbody > tr > td:last-of-type {
  text-align: left;
}
