.card {
  z-index: 101;
  position: fixed;
  top: 4.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.card > button {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px var(--london-grey);
  width: calc(33% - 4px);
  margin: 2px;
  height: 2.25rem;
  font-size: 1rem;
  color: var(--panzer-grey);
  background-color: var(--light-grey);
}

.selected {
  box-shadow: 0 0 1px 1px var(--golden-olive) !important;
  background-color: var(--ivory) !important;
}


@media screen and (max-width: 700px) {
  .card {
    top: 15px;
    width: calc(100% - 60px);
  }
}
