.tableRow {
    font-size: smaller;
}

.tableRow > td:nth-of-type(n+2) {
    text-align: center;
 }

.tableRow > td:first-of-type > :first-child {
   margin-right: 0.5rem;
}

.spareMagRow > span {
    margin: 0, 0.2rem, 0, 2rem;
}