/* mptodo - fancy pants scroll without scrollbar */
.contents {
  max-height: calc(100% - 2.75rem);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contents::-webkit-scrollbar {
  display: none;
}

.mask {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 64rem;
  height: 21.5rem;
  z-index: 100;
  background-color: transparent;
}

.header {
  margin-bottom: 0.75rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  font-weight: 600;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > button {
  background-color: var(--panzer-grey);
  border: none;
  color: whitesmoke;
}

.header > div > button:first-of-type {
  margin-left: 0.5rem;
}

.header > div > button:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.header > div > button:active {
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  float: right;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.firearmEntry {
  width: 100%;
  margin-left: 5px;
}

.firearmEntry > span:first-of-type {
  float: left;
}

.firearmEntry > span:last-of-type {
  float: right;
}

@media screen and (min-width: 1025px) {
  .wrapper {
    transform: translate(-50%, -3rem) !important;
  }
}

@media screen and (max-width: 1024px) {
  .mask {
   z-index: 102;
   transform: translate(0, 0);
   top: unset;
   left: unset;
   left:0;
   bottom:0;
   height: 10px;
   margin: 0 !important;
   width: 100%;
  }
}



