.FirearmSelectionListCard {
  /* margin-top: 2rem;
  height: 20rem;
  width: 60rem;
  position: relative;
  top: calc(50% - 15rem);
  left: calc(50% - 30rem);
  overflow: auto; */
}

.firearmEntry {
  width: 100%;
}

.firearmEntry > span:last-of-type {
  float: right;
}

.test {
  z-index:10;
}

  .filterCardWrapper {
    background: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    margin-top: 2rem;
    height: 11rem;
    width: 30rem;
    /* position: relative; */
    position: fixed;
    /* top: calc(50% - 36rem); */
    top: 0;
    transform: translateY(100%);
    left: calc(50% - 10rem);
    overflow: auto;
  }

  .filterCardWrapper.trans {
      /* top: calc(50% - 47.5rem); */
      transform: translateY(0);
      background-color: lightcoral;
      position: fixed;
  }

  .filterCardWrapper.trans.final {
    z-index: 20;
    background-color: lightblue;
    position: fixed;
}

  .ModifyWeaponStatTableContainer {
    margin-top: 2rem;
    height: 20rem;
    width: 60rem;
    position: relative;
    top: calc(50% - 15rem);
    left: calc(50% - 30rem);
    overflow: auto;
  }

  .WeaponStatTableContainer  {
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    transition: 1s;
    margin-top: 2rem;
    height: 19rem;
    width: 44rem;
    position: relative;
    top: calc(50% - 49.5rem);
    left: calc(50% - 29.5rem);
    overflow: auto;
}

.WeaponStatTableContainer.trans  {
  top: calc(50% - 30rem);
  height: 20rem;
}
