.FirearmSelectionListCard {
  margin-top: 2rem;
  background: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 20rem;
  width: 60rem;
  position: relative;
  top: calc(50% - 15rem);
  left: calc(50% - 30rem);
  overflow: auto;
}  
  
  .filterCardWrapper {
    margin-top: 2rem;
    background: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 10rem;
    width: 60rem;
    position: relative;
    top: calc(-10%);
    left: calc(50% - 30rem);
    overflow: auto;
    transition: 1s;
  }

  .filterCardWrapper.trans {
      top: calc(-28%);
  }
  
  .WeaponStatTableContainer  {
    margin-top: 2rem;
    background: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    height: 19rem;
    width: 44rem;
    position: relative;
    top: calc(-30%);
    left: calc(50% - 29.5rem);
    overflow: auto;
}

.WeaponStatTableContainer.trans  {
  top: calc(2.3%);
  height: 20rem;
}