  .filterCardWrapper {
    margin-top: 2rem;
    background: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 10rem;
    width: 60rem;
    position: relative;
    top: calc(10%);
    left: calc(50% - 30rem);
    overflow: auto;
    transition: 1s;
  }

  .filterCardWrapper.trans {
      top: calc(-20%);
  }
  