.wrapper {
    position: relative;
    box-shadow: 0 0 2px 1px var(--usaf-light-grey);
    padding: 3px;
}

.wrapper > div:nth-of-type(n+2) {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--usaf-light-grey);
}


.wrapper * h4 {
  color: var(--panzer-grey);
  font-weight: 600;
  font-size: 1.15rem;
  margin: 0;
  padding:0;
}

.header {
    background-color: var(--panzer-grey);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    height: 1.75rem;
    align-items: center;
    padding: 0 3px;
}

.header > button {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 0.75rem;
    height: 1rem;
    border: 3px;
}

.header > button:nth-of-type(2) {
    margin: 0 1px;
}

.header > button:hover {
    box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}
  
.header > button:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}