.card {
  font-size: 0.85rem;
  background: whitesmoke;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0.5rem 2rem 2rem;
  min-width: 41rem;
  min-height: 17.75rem;
  position: fixed;
  top: -2px;
  left: 2px;
}

.header {
  margin-bottom: 0.75rem;
  background-color: var(--panzer-grey);
  color: whitesmoke;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > button {
  background-color: var(--panzer-grey);
  border: none;
  color: whitesmoke;
}

.header > div > button:first-of-type {
  margin-left: 0.5rem;
}

.header > div > button:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.header > div > button:active {
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.close:before {
  content: "\f00d";
  font-family: FontAwesome;
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 1rem;
}

.close {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  float: right;
}

.close:hover {
  box-shadow: 0px 0px 1.25px 1.25px whitesmoke;
}

.close:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  opacity: 0.9;
}

.body {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .card {
    bottom: 0 !important;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0.25rem;
  }
}

@media screen and (max-width: 700px) {
  .card {
    padding: 2px;
    left: unset;
    left: 0;
    transform: translate(0,-100%);
    min-width: unset;
    min-height: unset;
    width: calc(100vw - 4px);
    height: fit-content;
    font-size: .61rem;
    margin-top: 13px;
  }

  .body > div:nth-of-type(2) {
    display: none;
  }
}