.wrapper {
  width: 100%;
  border-collapse: collapse;
}

.wrapper > thead {
  background-color: var(--panzer-grey);
  color: whitesmoke;
}

.wrapper > thead > tr > th:nth-of-type(n + 2) {
  width: 9.5%;
}
