.App {
  text-align: left;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  font-size: calc(3px + 2vmin);
  color: black;
}

.Wrapper {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-evenly;
}

.Equipment-Weight {
  margin-top: 5px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 60px;
  font-size: 25px;
  vertical-align: middle;
  right: 50px;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #30362c;
  background-image: -webkit-linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  background-image: linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a1be8f;
}

.Combat-Actions-Container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 18px;
  height: 100px;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  color: #30362c;
  background-image: -webkit-linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  background-image: linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a1be8f;
}

.Weight-Tag {
  margin-right: 5px;
}

.Weight-Up {
  margin-left: 10px;
}

.Weight-Down {
  margin-left: 10px;
}

.Stats {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  display: flex;
  line-height: 60px;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #30362c;
  background-image: -webkit-linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  background-image: linear-gradient(#d1f0bf 0%, #dfebd7 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a1be8f;
}

.Stat {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Stat-Text {
  display: flex;
  flex-direction: column;
  width: 175px;
  font-weight: bold;
  font-family: Helvetica;
  /*color: #fff; */
  /* -webkit-text-stroke: 1px black; */
}

.STR-Adjust {
  display: flex;
  flex-direction: row;
}

.Stat-Value {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  width: 145px;
  font-weight: bold;
  font-family: Helvetica;
}

body {
  background-color: #f1f1f1;
}

.Level {
  text-align: center;
}

.Speed {
  text-align: right;
}

.Combat-Level {
  text-align: right;
}

.Stat-Up,
.Stat-Down {
  display: inline-block;
  text-decoration: none;
  background: #8cd460;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #6ead46;
  transition: 0.4s;
}

.Stat-Up:active,
.Stat-Down:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translate(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.Weight-Up,
.Weight-Down {

  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(#6ead46 0%, #8cd460 100%);
  background-image: linear-gradient(#6ead46 0%, #8cd460 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5a9437;
}

.Weight-Up:active,
.Weight-Down:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}