.equipmentListHeader {
    padding: .2rem 0;
}

.equipmentListHeader > :nth-child(2){
    margin: 0 .1rem 0 .3rem;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
}

.equipTags {
    width: 33.33%;
    text-align: center;
}
