.equipmentListHeader {
    padding: .2rem 0;
}

.equipmentListHeader > :nth-child(2){
    margin: 0 .1rem 0 .3rem;
}

.equipmentListBody {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

.equipmentEntry {
    width: calc((100% - 30px)/3);
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.equipmentEntry:nth-of-type(3n+2) {
    margin: 0 15px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
}

.equipTags {
    width: 33.33%;
    text-align: center;
}

.equipmentEntry:hover,
.equipTags:hover {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
