.modalOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}

.modalCard {
    padding: 0 1.5rem;
    height: 20rem;
    width: 60rem;
    position: relative;
    top: calc(50% - 12rem);
    left: calc(50% - 30rem);
    overflow: auto;
}